#todoes{
  /* background-color: rgb(148, 75, 75); */
  position: absolute;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1024px;
  height: auto;
  transition: 0.5s;
}

#titleBox{
  /* background-color: rgb(129, 151, 49); */
  height: 8%;
  position: relative;
}

.titleBox{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid gray;
  margin-bottom: 8px;
  width: 100%;
  justify-content: space-between;
}

#homeTitle{
  font-size: 22px;
  font-weight: bold;
  /* top: 50%; */
  transform: translate(0, 0%);
  margin: auto 10px auto;
}

.tasks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleTask, .titleBox{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid gray;
  margin-bottom: 8px;
  width: 100%;
  justify-content: space-between;
}

.dueDate{
  margin-right: 80px;
  font-size: 18px;
  font-weight: bold;
  /* top: 50%; */
  transform: translate(0, 35%);
}

.icons-container {
  display: flex;
  flex-direction: row;
}

.fa{
  width: 15px;
  cursor: pointer;
}

.fa-flag{
  color: orange;
}

.fa-plus{
  margin-left: 4px;
}

.fa:hover{
  transform: scale(1.2); 
}

.fa-pencil-square-o:hover,
.fa-trash:hover{
  color: rgb(202, 200, 214);
}

.editDelete{
  visibility: hidden;
}

.singleTask:hover .editDelete{
  visibility: visible;
}

#checkBox:checked + label {
  color:gray;
  text-decoration: line-through;
}

#checkBox:checked + .ragaca{
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  margin: 0 10 0 10;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: -35px;
  right: 105%;
  background-color: #f1f1f1;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-right: 8px;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.dropdown-option:hover{
  background-color: gray;
}

.dropdown-option:hover .tooltiptext {
  visibility: hidden;
}