#todoes{
  /* background-color: rgb(148, 75, 75); */
  position: absolute;
  top: 72px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 1024px;
  height: auto;
  transition: 0.5s;
}

#titleBox{
  /* background-color: rgb(129, 151, 49); */
  height: 8%;
  position: relative;
}

.titleBox{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid gray;
  margin-bottom: 8px;
  width: 100%;
  justify-content: space-between;
}

#homeTitle{
  font-size: 22px;
  font-weight: bold;
  /* top: 50%; */
  transform: translate(0, 0%);
  margin: auto 10px auto;
}

.tasks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singleTask, .titleBox{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid gray;
  margin-bottom: 8px;
  width: 100%;
  justify-content: space-between;
}

.menu-items{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dueDate{
  margin-right: 80px;
  font-size: 18px;
  font-weight: bold;
  /* top: 50%; */
  transform: translate(0, 35%);
}

.icons-container {
  display: flex;
  flex-direction: row;
}

.fa{
  width: 15px;
  cursor: pointer;
}

.fa-pencil-square-o,
.fa-flag,
.fa-trash,
.menu-single-item{
  margin-left: 8px;
}

.fa-flag{
  color: orange;
}

.fa-plus{
  margin-left: 4px;
}

.fa:hover{
  color: rgb(202, 200, 214);
  transform: scale(1.2); 
}

.editDelete{
  visibility: hidden;
}

.singleTask:hover .editDelete{
  visibility: visible;
}

#checkBox:checked + label {
  color:gray;
  text-decoration: line-through;
}

#checkBox:checked + .ragaca{
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}